@charset "utf-8";
/* Custom, iPhone Retina */
@media only screen and (min-width : 300px) {
	body {
		background-color: blue;
	}
	#main-title {
		font-size: 2em;
	}
	select#neighborhoods-select,  select#cuisines-select{
		width: 90vw;
		background-color: white;
		font-size: 16pt;
		margin: 0.5em;
		padding: 1em;
		font-size: 16pt;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		background-color: red; 
	}
	p.neighborhood-type {
		font-size: 0.75em;
	}
	#more-details {
		font-size: 0.75em;
		padding: 2em 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		background-color: orange;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		background-color: blue;
	}
}

#neighborhoods-select, #cuisines-select {
	font-size:30pt;
}
h1 {
	font-size: 4em;
}
body, td, th, p{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
img, embed, object, video {
	max-width: 100vw;
}
ul {
	list-style-type: none;
	padding: 0;
	width: 90vw;
	margin: 0 auto;
}
h1 {
	margin-bottom: 0;
}
img {
	border-radius: 25px 25px 0 0;
}
img, li {
	width: 90vw;
}
li {
	border-radius: 25px;
	background-color: #f3f3f3;
	margin-bottom: 1em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);

}
footer {

	text-transform: uppercase;
	font-weight:lighter;
	width: 100%;
	height: 20vh;
	text-align: center;
	line-height: 20vh;
	letter-spacing: 5px;
}
p {
	text-transform: uppercase;
	padding-top: 1em;

	margin: 0;
	font-size: 0.75em;
	letter-spacing: 10px
}

p.neighborhood-type {
	border-radius: 50px;
	text-transform: uppercase;
	padding-top: 1em;
	margin: 0;
	font-size: 0.5em;
	letter-spacing: 20px;
	font-weight: bold;
	color: #9b9b9b;
}

#main-title {
	height: 30vh;
	text-align: center;
	vertical-align: center;
	line-height: 30vh;
}

#more-details {
	background-color: #48a999;
	font-size: 0.5em;
	width: 100%;
	border: 0;
	color: #fff;
	display: block;
	border-radius: 0 0 25px 25px;
	padding: 1em 0;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 1em;
	letter-spacing: 10px;

}
#more-details:focus {
	background-color: #004c40;
}
.inside #map-container {
	background: #252831 none repeat scroll 0 0;
	height: 87%;
	position: relative;
	padding: 5rem 2em;
	right: 0;
	top: 80px;
	width: 100vw;
}
.inside #map {
	background-color: #ccc;
	height: 30em;
	width: 100vw;
}
#map {
	height: 40vh;
	width: 100vw;
	background-color: #ccc;
}
